<!DOCTYPE html>
<html lang="en">
<head>
  <title>Society Name | Dashboard</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .btnn {
      cursor: pointer;
      position: relative;
      left: 50%;
      color: #fff;
      transform: translateX(-50%);
      width: 80%;
      background-color: rgb(55, 112, 255);
      outline: 0;
      border: 0;
      font-size: 20px;
      padding: 14px 10px;
      font-family: 'Inter', sans-serif;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <div>
    <h1>Society Name</h1>
  </div>
  <div class='container'>
      <h1>Welcome Back Person Name!</h1>
      <p><%= message %></p>
      <% if(status == '307'){ %>
      <button id='submit' class='btnn' onclick="initialize();">Complete Profile</button>
      <% } %>
  </div>
<script>
  function initialize(){
    window.open(`http://localhost:8080/complete?email=${getCook('email_id')}&password='${getCook('password')}'`);
  }

  function clearCookies(){
    var cookies = document.cookie.split(";");

    for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i];
        var eqPos = cookie.indexOf("=");
        var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
        document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
    }
  }

  function getCook(cookiename) {
    var cookiestring=RegExp(cookiename+"=[^;]+").exec(document.cookie);
    return decodeURIComponent(!!cookiestring ? cookiestring.toString().replace(/^[^=]+./,"") : "");
  }
    
  if(document.cookie == '' && getCook('email_id') == ''){
    document.querySelector('#login-div').style.display = 'block';
  }else{
    document.querySelector('#logout-div').style.display = 'block';
    window.open('http://localhost:8080/')
  }
</script>
</body>
</html>